<div class="bg">
  <div class="container mt-3">
    <div class="row align-items-center">
      <div class="col-sm-12 offset-md-3 col-md-6 text-primary">
        
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
                      required: true,
                      input_html: { autofocus: true, class: "rounded-pill pl-4 border-0"} %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password , label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password", class: "rounded-pill pl-4 border-0" } %>
          <%= f.input :password_confirmation, label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
                      required: false,
                      input_html: { autocomplete: "new-password", class: "rounded-pill pl-4 border-0" } %>
          <%= f.input :current_password, label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password", class: "rounded-pill pl-4 border-0"} %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
          <div class="form-actions">
            <%= f.button :submit, "Update",  class: "btn-secondary btn-block rounded-pill" %>
            <%= f.button :submit, "Back",   class: "btn-mute btn-block rounded-pill"%>
          </div>
        <% end %>

        <div class="row" style="height: 15vh">
          <div class="col-sm-12 offset-md-3 col-md-6 d-flex justify-content-center align-self-end text-secondary">
            <p class="mr-2 font-weight-lighter">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>





