<div class="mt-3 d-flex flex-column">
	<div class="form-wrapper">
    <%= simple_form_for [@grill, @booking] do |f| %>
      <%= f.input :check_in, label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
      as: :string, id: 'check-in',
      required: false,
      input_html: {class: "range_start rounded-pill pl-4 border-0"}, label: 'Data de retirada' %>

      <%= f.input :check_out, label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
      as: :string, id: 'check-out',
      required: false,
      input_html: {class: "range_end rounded-pill pl-4 border-0"}, label: 'Data de devolução' %>

      <%= f.input :address , label_html: { class: 'font-weight-bolder ml-4 text-black-50'},
      as: :string, id: 'address',
      input_html: {class: "rounded-pill pl-4 border-0 mb-5"}, label: 'Endereço' %>

      <%= f.button :submit, "Reservar",
      class: "btn btn-secondary btn-block rounded-pill border-0 font-weight-bolder p-3",
      data: { toggle: 'modal', target: '#bookingModal' },
      id: 'submit-booking' %>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Confirme as informações</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-around">
          <p><strong>Data de retirada:</strong></p>
          <p id='modal-check-in'></p>
        </div>
        <div class="d-flex justify-content-around">
          <p><strong>Data de devolução:</strong></p>
          <p id='modal-check-out'></p>
        </div>
        <div class="d-flex justify-content-around">
          <p><strong>Endereço:</strong></p>
          <p id='modal-address'></p>
        </div>
        <div class="d-flex justify-content-around">
          <p><strong>Valor total:</strong></p>
          <p id='modal-price'></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    		<%= f.submit 'Book it' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
