<div class="bg">
  <div class="container">
    <div class="row align-items-center">
          <div class="col-sm-4 col-md-12 text-primary">
            <h1>All Grills</h1>
            <% @grills.each do |grill| %>

              <div class="col-sm-12 col-md-3 card-trip m-2">
                <%= link_to grill_path(grill), class:"btn" do %>
                  <img src="http://centerbox.com.br/wp-content/uploads/2018/06/210160-churrasco-guia-de-como-temperar-a-carne-como-um-profissional.jpg"/>
                <% end %>
                <div class="card-trip-infos">
                  <div>
                    <h4 class="card-title"><%= grill.name %> </h4>
                    <h5 class="card-text"><%= grill.grills_type %> </h5>
                    <p class="card-text"><%= grill.address %> </p>
                  </div>
                  <h2 class="card-trip-pricing"><%= grill.price %></h2>
                  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                </div>
              </div>

            <% end %>
            <%= link_to "Add a new grill", new_grill_path(@grill), class: "btn btn-primary"%>          
          </div>
    </div>
  </div>
</div>