
<div class="container">
<h1>All Grills</h1>
<p>
</p>
  <div class="row">
    <% @grills.each do |grill| %>
      <div class="card" style="width: 18rem;">
        <img src="https://www.campchef.com/media/catalog/product/cache/1/image/1200x675/e9c3970ab036de70892d86c6d221abfe/p/g/pg24sgwws_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= grill.name %> </h5>
          <p class="card-text"><%= grill.grills_type %> | <%= grill.address %> </p>
          <%= link_to "Show", grill_path(grill), class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p></p>
  <div class="container">
<p>
<%= link_to "Add a new grill", new_grill_path(@grill), class: "btn btn-primary"%>
</p>
