<div class="bg">
<div class="container">
  <div class="text-primary">
    <div class="cards">
      <% @grills.each do |grill| %>

        <div class="card-trip m-2">
          <%= link_to grill_path(grill), class:"btn" do %>
            <% if grill.photos.empty? %>
              <img src="http://centerbox.com.br/wp-content/uploads/2018/06/210160-churrasco-guia-de-como-temperar-a-carne-como-um-profissional.jpg"/>
            <% else  %>
            <%= cl_image_tag grill.photos.first.url %>
            <% end %>
          <% end %>

          <div class="card-trip-infos">
            <div>
              <h4 class="card-title block-with-text mb-2"><%= grill.name %> </h4>
              <p class="card-text mr-2"><%= grill.address %> </p>
              <h2 class="card-trip-pricing text-secondary mt-2">R$ <%= grill.price %></h2>
            </div>
            <% if grill.user.photo.present? %>
              <%= cl_image_tag grill.user.photo, class:"card-trip-user avatar-bordered" %>
            <% else %>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered"/>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
                <%= link_to 'Reservar', grill_path(grill), class: 'btn btn-secondary rounded-pill m-1 btn-block w-75 py-1' %>
              
            </div>
      <% end %>        
    </div>
  </div>
</div>
</div>