<div class="card-category rounded-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
	url(https://envato-shoebox-0.imgix.net/bbd1/dd3a-f091-4d67-a3bb-3ff1b6665de1/man_grilling_pork_chops_112308.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=bcb3dc991f2ae1685d6c605634a0165b)">
  <div class="container">
    <h1><strong><%= @grill.name %></strong></h1>
  </div>
</div>

<div class="container grill my-3">
		<div class="grill-description">
			<h3><strong><%= @grill.address %></strong> </h3>

			<div class="description d-flex justify-content-between border-bottom mb-2">
				<p class="text-black-50"><%= @grill.description %></p>	
			</div>

			<div class="type d-flex justify-content-between text-black-50">
				<p><strong>Tipo:</strong></p>				<p><%= @grill.grills_type %></p>	
			</div>
			<div class="price d-flex justify-content-between ">
				<p class="text-secondary"><strong>Valor da Diária:</strong></p>
				<div class="d-flex">
					<h3 class="text-secondary mr-2">R$</h3>
					<h3 class="text-secondary" id="price"><%= @grill.price %></h3>
				</div>	
			</div>
		</div>

		<div class="offset-md-1 align-items-left">
			<!-- <h3>Liked the grill? Book it now!</h3> -->
			<%= render 'calendar' %>
		</div>

	</div>


  <div
  	class="mt-3"
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
  </div>
  <div class="container mb-5 mt-3">
	  <div class="review">
	    <%= render 'reviews/index' %>
	  </div>
	</div>

	<div class="container">
	  <div class="review">
	    <%= render 'reviews/modal' %>
	  </div>
	</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @grill.photos.each_with_index do |photo, index| %>
    <% if index == 0 %>
    <div class="carousel-item active" >
      <%= cl_image_tag photo.url, class: "d-block w-50" %>
    </div>
    <% else %>
    <div class="carousel-item" >
      <%= cl_image_tag photo.url, class: "d-block w-50" %>
    </div>
    <% end %>
    <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
