<div class="card-category rounded-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>

<div class="container grills">

		<div class="grill-description">
			<h1><%= @grill.name %></h1>
			<div class="grill-info p-3">
				<div class="description d-flex justify-content-between">
					<p>Description:</p>
					<p><%= @grill.description %></p>	
				</div>
				<div class="address d-flex justify-content-between">
					<p>Address:</p>
					<p><%= @grill.address %></p>	
				</div>
				<div class="type d-flex justify-content-between">
					<p>Type:</p>
					<p><%= @grill.grills_type %></p>	
				</div>
				<div class="price d-flex justify-content-between">
					<p>Price:</p>
					<p id="price"><%= @grill.price %></p>	
				</div>
			</div>
		</div>

		<div class="offset-1 mt-3 d-flex flex-column align-items-center">
			<h3>Liked the grill? Book it now!</h3>
			<%= render 'calendar' %>
		</div>
	</div>
  <div class="container">
  <div class="review">
    <%= render 'reviews/index' %>
  </div>
</div>

<div class="container">
  <div class="review">
    <%= render 'reviews/modal' %>
  </div>
</div>
  <div
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
  </div>
</div>
<div class="container">
	<div class="review">
		<%= render 'reviews/modal' %>
	</div>
</div>

<div class="container">
	<div class="booking">
		<%= render 'bookings/modal' %>
	</div>
</div>

