<div class="container">
	<div class="d-flex justify-content-around mt-3">
		<div class="grill">
			<h1><%= @grill.name %></h1>
			<div class="grill-info p-3">
				<div class="description d-flex justify-content-between">
					<p>Description:</p>
					<p><%= @grill.description %></p>	
				</div>
				<div class="address d-flex justify-content-between">
					<p>Address:</p>
					<p><%= @grill.address %></p>	
				</div>
				<div class="type d-flex justify-content-between">
					<p>Type:</p>
					<p><%= @grill.grills_type %></p>	
				</div>
				<div class="price d-flex justify-content-between">
					<p>Price:</p>
					<p id="price"><%= @grill.price %></p>	
				</div>
			</div>
		</div>
		<div class="mt-3 d-flex flex-column align-items-center">
			<h3>Liked the grill? Book it now!</h3>
			<%= render 'calendar' %>
		</div>
	</div>
</div>
<div class="container">
	<div class="review">
		<%= render 'reviews/index' %>
	</div>
</div>

<div class="container">
	<div class="review">
		<%= render 'reviews/modal' %>
	</div>
</div>