<div class="container">
  <div class="row">
      <% if @grill.photos.size != 0 %>
        <% picture_url = cl_image_path @grill.photos[0].path %>
      <% else %>
        <% picture_url = image_path('background.jpg') %>
      <% end %>
    <%= render "card", grill: @grill, picture_url: picture_url %>

      <div class="formulaire">
        <%= simple_form_for([ @grill, @dose ]) do |form| %>
          <%= form.association :ingredient %>
          <%= form.input :description %>
          <%= form.button :submit, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "destroy grill", grill_path(@grill),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-danger rounded" %>
