<div class="bg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 offset-md-3 col-md-6 text-primary">
        <h1 class="mt-5 pt-5 mb-3"><strong>Log in</strong></h1>
        <p style="margin-bottom: 3vh">Por favor, faça o seu <strong>login</strong> e bora pro <strong>churras!</strong></p>
        
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email, label_html: { class: 'font-weight-bolder ml-4'},
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "rounded-pill pl-4 border-0" } %>
          <%= f.input :password, label_html: { class: 'font-weight-bolder ml-4'},
                      required: false,
                      input_html: { autocomplete: "current-password", class: "rounded-pill pl-4 border-0" } %>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <div class="text-right my-4">
              <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'font-weight-bolder' %><br/>
            </div>
          <% end %>

          <!-- <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
          <%= f.button :submit, "Log in", class: "btn-secondary btn-block rounded-pill"  %>
        <% end %>
        <!-- <%= render "devise/shared/links" %> -->
      </div>
    </div>

    <div class="row" style="height: 15vh">
      <div class="col-sm-12 offset-md-3 col-md-6 d-flex justify-content-center align-self-end text-secondary">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <p class="mr-2 font-weight-lighter">Ainda não tem uma conta?</p>
            <%= link_to "Sign up", new_registration_path(resource_name), :class => 'font-weight-bolder text-secondary' %><br />
        <% end %>
      </div>
    </div>

  </div>
</div>

