<div class="container">
  <img src="https://i.imgur.com/uYYRazF.png" class="img-fluid" alt="Responsive image" style="margin-top: -50px">
  <div class="row align-items-center" id="sign-in-form">
    <div class="col-sm-4">

      <h2><strong>Log in</strong></h2>
      <p style="margin-bottom: 5vh">Por favor, faça o seu <strong>login</strong> e bora pro churras!</p>
      
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, label_html: { class: 'font-weight-bolder ml-4'},
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "rounded-pill pl-4" } %>
        <%= f.input :password, label_html: { class: 'font-weight-bolder ml-4'},
                    required: false,
                    input_html: { autocomplete: "current-password", class: "rounded-pill pl-4" } %>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <div class="text-right my-4">
            <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'font-weight-bolder' %><br/>
          </div>
        <% end %>

        <!-- <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
        <%= f.button :submit, "Log in", class: "btn-primary btn-block rounded-pill"  %>
      <% end %>
      <!-- <%= render "devise/shared/links" %> -->
    </div>
  </div>

  <div class="row" style="height: 15vh">
    <div class="col-sm-4 d-flex justify-content-center align-self-end">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <p class="mr-2 font-weight-lighter">Ainda não tem uma conta?</p>
          <%= link_to "Sign up", new_registration_path(resource_name), :class => 'font-weight-bolder text-primary' %><br />
      <% end %>
    </div>
  </div>

</div>


