<%= simple_form_for [@grill, @review] do |f| %>
  <div class="d-flex flex-column">
	  <%= f.label :Estrelas %>
	  <%= f.select :stars, [5, 4, 3, 2, 1], class: 'btn' %>
  </div>
  <%= f.input :content, label: 'Comentário' %>
  <%= f.submit 'Add review', class: 'btn btn-secondary' %>
<% end %>